@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, span{
      font-family: "Josefin Sans", sans-serif;
    }

    * {
      box-sizing: border-box; /* Ensure consistent box model */
    }
  p,a,h4, h5,h6,.p-name{
    font-family: "lato", sans-serif;
  }
    body {
      margin: 0;
      padding: 0; /* Reset body margin and padding */
    }
  

  :root {
    --radius: 0.5rem
  }
}
